In [1]:
import sqlglot

In [29]:
query = "SELECT distinct StudentCourse.COURSE_ID, NAME, Student.AGE FROM Student INNER JOIN StudentCourse ON Student.ROLL_NO = StudentCourse.ROLL_NO join tabl2 on tabl2.roll_no = student.roll_no where rank=2 and total>15 and tt<13 order by country"

In [22]:
joins = sqlglot.parse_one(query).find_all(sqlglot.exp.Join)

In [52]:
for table in sqlglot.parse_one(query).find_all(sqlglot.exp.Select):
    print(table.args)

{'kind': None, 'hint': None, 'distinct': Distinct(), 'expressions': [Column(
  this=Identifier(this=COURSE_ID, quoted=False),
  table=Identifier(this=StudentCourse, quoted=False)), Column(
  this=Identifier(this=NAME, quoted=False)), Column(
  this=Identifier(this=AGE, quoted=False),
  table=Identifier(this=Student, quoted=False))], 'limit': None, 'operation_modifiers': None, 'from': From(
  this=Table(
    this=Identifier(this=Student, quoted=False))), 'joins': [Join(
  this=Table(
    this=Identifier(this=StudentCourse, quoted=False)),
  kind=INNER,
  on=EQ(
    this=Column(
      this=Identifier(this=ROLL_NO, quoted=False),
      table=Identifier(this=Student, quoted=False)),
    expression=Column(
      this=Identifier(this=ROLL_NO, quoted=False),
      table=Identifier(this=StudentCourse, quoted=False)))), Join(
  this=Table(
    this=Identifier(this=tabl2, quoted=False)),
  on=EQ(
    this=Column(
      this=Identifier(this=roll_no, quoted=False),
      table=Identifier(this=tabl2, quoted=False)),
    expression=Column(
      this=Identifier(this=roll_no, quoted=False),
      table=Identifier(this=student, quoted=False))))], 'where': Where(
  this=And(
    this=And(
      this=EQ(
        this=Column(
          this=Identifier(this=rank, quoted=False)),
        expression=Literal(this=2, is_string=False)),
      expression=GT(
        this=Column(
          this=Identifier(this=total, quoted=False)),
        expression=Literal(this=15, is_string=False))),
    expression=LT(
      this=Column(
        this=Identifier(this=tt, quoted=False)),
      expression=Literal(this=13, is_string=False)))), 'order': Order(
  expressions=[
    Ordered(
      this=Column(
        this=Identifier(this=country, quoted=False)),
      nulls_first=True)])}

In [13]:
for join in joins:
    print(join.args)

{'this': Table(
  this=Identifier(this=StudentCourse, quoted=False)), 'kind': 'INNER', 'on': EQ(
  this=Column(
    this=Identifier(this=ROLL_NO, quoted=False),
    table=Identifier(this=Student, quoted=False)),
  expression=Column(
    this=Identifier(this=ROLL_NO, quoted=False),
    table=Identifier(this=StudentCourse, quoted=False))), 'pivots': None}
{'this': Table(
  this=Identifier(this=tabl2, quoted=False)), 'on': EQ(
  this=Column(
    this=Identifier(this=roll_no, quoted=False),
    table=Identifier(this=tabl2, quoted=False)),
  expression=Column(
    this=Identifier(this=roll_no, quoted=False),
    table=Identifier(this=student, quoted=False))), 'pivots': None}

### Summarize scores

In [2]:
import json
import pandas as pd
import numpy as np

In [3]:
with open('scores_st_pred.json') as f:
    scores = json.load(f)

with open('scores_st_codegen.json') as f:
    scores_codegen = json.load(f)

In [4]:
scores

{'easy': {'count': 1656,
  'partial': {'select': {'acc': 0.890881913303438,
    'rec': 0.35990338164251207,
    'f1': 0.5126881720430108,
    'acc_count': 669,
    'rec_count': 1656},
   'select(no AGG)': {'acc': 0.905829596412556,
    'rec': 0.36594202898550726,
    'f1': 0.5212903225806452,
    'acc_count': 669,
    'rec_count': 1656},
   'where': {'acc': 0.8693877551020408,
    'rec': 0.3497536945812808,
    'f1': 0.49882903981264637,
    'acc_count': 245,
    'rec_count': 609},
   'where(no OP)': {'acc': 0.889795918367347,
    'rec': 0.3579638752052545,
    'f1': 0.5105386416861827,
    'acc_count': 245,
    'rec_count': 609},
   'group(no Having)': {'acc': 0.7980769230769231,
    'rec': 0.5886524822695035,
    'f1': 0.6775510204081633,
    'acc_count': 104,
    'rec_count': 141},
   'group': {'acc': 0.0,
    'rec': 0.0,
    'f1': 1,
    'acc_count': 104,
    'rec_count': 141},
   'order': {'acc': 0.8670212765957447,
    'rec': 0.7212389380530974,
    'f1': 0.7874396135265701,
    'acc_count': 188,
    'rec_count': 226},
   'and/or': {'acc': 1.0,
    'rec': 0.9993961352657005,
    'f1': 0.9996979764421625,
    'acc_count': 1655,
    'rec_count': 1656},
   'IUEN': {'acc': 0, 'rec': 0, 'f1': 1, 'acc_count': 0, 'rec_count': 0},
   'keywords': {'acc': 0.8944337811900192,
    'rec': 0.4774590163934426,
    'f1': 0.6225784903139612,
    'acc_count': 521,
    'rec_count': 976}},
  'exact': 0.2747584541062802,
  'exec': 0},
 'medium': {'count': 1587,
  'partial': {'select': {'acc': 0.9168704156479217,
    'rec': 0.23629489603024575,
    'f1': 0.375751503006012,
    'acc_count': 409,
    'rec_count': 1587},
   'select(no AGG)': {'acc': 0.9168704156479217,
    'rec': 0.23629489603024575,
    'f1': 0.375751503006012,
    'acc_count': 409,
    'rec_count': 1587},
   'where': {'acc': 0.6802325581395349,
    'rec': 0.19435215946843853,
    'f1': 0.3023255813953488,
    'acc_count': 172,
    'rec_count': 602},
   'where(no OP)': {'acc': 0.6976744186046512,
    'rec': 0.19933554817275748,
    'f1': 0.31007751937984496,
    'acc_count': 172,
    'rec_count': 602},
   'group(no Having)': {'acc': 0.75,
    'rec': 0.020594965675057208,
    'f1': 0.04008908685968819,
    'acc_count': 12,
    'rec_count': 437},
   'group': {'acc': 0.08333333333333333,
    'rec': 0.002288329519450801,
    'f1': 0.004454342984409799,
    'acc_count': 12,
    'rec_count': 437},
   'order': {'acc': 0.6035502958579881,
    'rec': 0.24228028503562946,
    'f1': 0.34576271186440677,
    'acc_count': 169,
    'rec_count': 421},
   'and/or': {'acc': 0.8878386893509767,
    'rec': 0.999290780141844,
    'f1': 0.9402736069402736,
    'acc_count': 1587,
    'rec_count': 1410},
   'IUEN': {'acc': 0, 'rec': 0, 'f1': 1, 'acc_count': 0, 'rec_count': 0},
   'keywords': {'acc': 0.6542056074766355,
    'rec': 0.15648286140089418,
    'f1': 0.25255562236921225,
    'acc_count': 321,
    'rec_count': 1342}},
  'exact': 0.16131064902331443,
  'exec': 0},
 'hard': {'count': 828,
  'partial': {'select': {'acc': 0.86875,
    'rec': 0.1678743961352657,
    'f1': 0.2813765182186235,
    'acc_count': 160,
    'rec_count': 828},
   'select(no AGG)': {'acc': 0.90625,
    'rec': 0.1751207729468599,
    'f1': 0.29352226720647767,
    'acc_count': 160,
    'rec_count': 828},
   'where': {'acc': 0.4186046511627907,
    'rec': 0.08888888888888889,
    'f1': 0.14663951120162935,
    'acc_count': 86,
    'rec_count': 405},
   'where(no OP)': {'acc': 0.46511627906976744,
    'rec': 0.09876543209876543,
    'f1': 0.1629327902240326,
    'acc_count': 86,
    'rec_count': 405},
   'group(no Having)': {'acc': 0.8095238095238095,
    'rec': 0.18478260869565216,
    'f1': 0.30088495575221236,
    'acc_count': 63,
    'rec_count': 276},
   'group': {'acc': 0.746031746031746,
    'rec': 0.17028985507246377,
    'f1': 0.2772861356932153,
    'acc_count': 63,
    'rec_count': 276},
   'order': {'acc': 0.08823529411764706,
    'rec': 0.020689655172413793,
    'f1': 0.0335195530726257,
    'acc_count': 68,
    'rec_count': 290},
   'and/or': {'acc': 0.9950062421972534,
    'rec': 0.9672330097087378,
    'f1': 0.9809230769230769,
    'acc_count': 801,
    'rec_count': 824},
   'IUEN': {'acc': 1.0,
    'rec': 0.007067137809187279,
    'f1': 0.014035087719298244,
    'acc_count': 2,
    'rec_count': 283},
   'keywords': {'acc': 0.3708609271523179,
    'rec': 0.06763285024154589,
    'f1': 0.11440245148110317,
    'acc_count': 151,
    'rec_count': 828}},
  'exact': 0.03260869565217391,
  'exec': 0},
 'extra': {'count': 290,
  'partial': {'select': {'acc': 0.9333333333333333,
    'rec': 0.09655172413793103,
    'f1': 0.175,
    'acc_count': 30,
    'rec_count': 290},
   'select(no AGG)': {'acc': 0.9333333333333333,
    'rec': 0.09655172413793103,
    'f1': 0.175,
    'acc_count': 30,
    'rec_count': 290},
   'where': {'acc': 0.4827586206896552,
    'rec': 0.055776892430278883,
    'f1': 0.1,
    'acc_count': 29,
    'rec_count': 251},
   'where(no OP)': {'acc': 0.4827586206896552,
    'rec': 0.055776892430278883,
    'f1': 0.1,
    'acc_count': 29,
    'rec_count': 251},
   'group(no Having)': {'acc': 0.3333333333333333,
    'rec': 0.017543859649122806,
    'f1': 0.03333333333333333,
    'acc_count': 3,
    'rec_count': 57},
   'group': {'acc': 0.3333333333333333,
    'rec': 0.017543859649122806,
    'f1': 0.03333333333333333,
    'acc_count': 3,
    'rec_count': 57},
   'order': {'acc': 0.0, 'rec': 0.0, 'f1': 1, 'acc_count': 7, 'rec_count': 53},
   'and/or': {'acc': 0.7789473684210526,
    'rec': 0.9779735682819384,
    'f1': 0.8671875,
    'acc_count': 285,
    'rec_count': 227},
   'IUEN': {'acc': 0, 'rec': 0.0, 'f1': 1, 'acc_count': 0, 'rec_count': 40},
   'keywords': {'acc': 0.43333333333333335,
    'rec': 0.04482758620689655,
    'f1': 0.08125,
    'acc_count': 30,
    'rec_count': 290}},
  'exact': 0.03793103448275862,
  'exec': 0},
 'all': {'count': 4361,
  'partial': {'select': {'acc': 0.8974763406940063,
    'rec': 0.26094932354964456,
    'f1': 0.40433469532776695,
    'acc_count': 1268,
    'rec_count': 4361},
   'select(no AGG)': {'acc': 0.9100946372239748,
    'rec': 0.2646182068332951,
    'f1': 0.4100195416592645,
    'acc_count': 1268,
    'rec_count': 4361},
   'where': {'acc': 0.7142857142857143,
    'rec': 0.20353508302088913,
    'f1': 0.3167986661108795,
    'acc_count': 532,
    'rec_count': 1867},
   'where(no OP)': {'acc': 0.7368421052631579,
    'rec': 0.209962506695233,
    'f1': 0.326802834514381,
    'acc_count': 532,
    'rec_count': 1867},
   'group(no Having)': {'acc': 0.7912087912087912,
    'rec': 0.15806805708013172,
    'f1': 0.26349496797804206,
    'acc_count': 182,
    'rec_count': 911},
   'group': {'acc': 0.2692307692307692,
    'rec': 0.05378704720087816,
    'f1': 0.08966148215919488,
    'acc_count': 182,
    'rec_count': 911},
   'order': {'acc': 0.6273148148148148,
    'rec': 0.2737373737373737,
    'f1': 0.38115330520393814,
    'acc_count': 432,
    'rec_count': 990},
   'and/or': {'acc': 0.9433918669131238,
    'rec': 0.9917415593879038,
    'f1': 0.9669626998223801,
    'acc_count': 4328,
    'rec_count': 4117},
   'IUEN': {'acc': 1.0,
    'rec': 0.006191950464396285,
    'f1': 0.012307692307692308,
    'acc_count': 2,
    'rec_count': 323},
   'keywords': {'acc': 0.7282502443792767,
    'rec': 0.21682188591385332,
    'f1': 0.33415564027808925,
    'acc_count': 1023,
    'rec_count': 3436}},
  'exact': 0.17174959871589085,
  'exec': 0}}

In [6]:
scores_df = pd.DataFrame(columns = scores.keys())
scores_df

Empty DataFrame
Columns: [easy, medium, hard, extra, all]
Index: []

In [22]:
df = pd.DataFrame()
for key,value in scores_codegen.items():
    print(value['exact'])

0.3134057971014493
0.18462507876496534
0.030193236714975844
0.07241379310344828
0.19674386608576014

In [28]:
pd.DataFrame.from_dict(scores_codegen['all']['partial']).T

                       acc       rec        f1  acc_count  rec_count
select            0.885942  0.306352  0.455273     1508.0     4361.0
select(no AGG)    0.896552  0.310021  0.460726     1508.0     4361.0
where             0.701613  0.232994  0.349819      620.0     1867.0
where(no OP)      0.725806  0.241028  0.361882      620.0     1867.0
group(no Having)  0.793427  0.185510  0.300712      213.0      911.0
group             0.286385  0.066959  0.108541      213.0      911.0
order             0.572277  0.291919  0.386622      505.0      990.0
and/or            0.945177  0.990545  0.967330     4323.0     4125.0
IUEN              1.000000  0.003096  0.006173        1.0      323.0
keywords          0.689167  0.240687  0.356773     1200.0     3436.0

In [ ]:
df.loc[-1] = [2, 3, 4]  # adding a row
df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index